.sidebar {
    // width: 25%;
    min-width: 180px;
    height: 100vh;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
  
    .sidebar--header {
        text-align: center;
       

        h2 {
            color: #FF6902;
        }

        img {
            border-radius: 50%;
            margin: 10px 0;
        }
    }
    .sidebar--menu {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        
        .navlink {
            color: #999;
            padding: 10px 25px;
            text-align: left;
            display: flex;
            align-items: center;
            border-left: 4px solid transparent;
            // justify-content: start;

            svg {
                margin-right: 10px;
            }
        }
    }
    .sidebar--footer {
        display: flex;
        justify-content:center;
        // align-self: flex-end;
        button {
            margin-top: 50px;
            border: 0;
            background: #FF6902;
            color: white;
            border-radius: 6px;
            padding: 8px 16px;

        }
    }
}

@media (max-width: 500px) {
   .sidebar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 5px 10px;
        img { 
            display: none;
        }

        .navlink {
            color: #999;
            padding: 5px 20px !important;
            text-align: left;
            display: flex;
            align-items: center;
            // border-top: 1px solid transparent;
            // border-left: 0 !important;
            // justify-content: start;

            svg {
                margin-right: 10px;
            }
        }

        .sidebar--menu {
            justify-content: start;
        }
        .sidebar--footer {
            // display: inline;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            margin-top: 0px !important;
        }
   }
}