.hero--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    width: 220px;
    border-radius: 8px;
    background: white;

    .hero-img {
        width: 100%;
        img {
            width: 100%;
            border-radius: 8px 8px 0 0;
            max-height: 200px;
        }
    }
    .hero-footer {
        padding: 12px;
        width: 100%;
        .hero-footer-box {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            button {
                border: 0;
                background: 0;
                padding: 8px;
                
            }
        }
        h4 {
            color: #444;
            margin-bottom: 3px;
        }
        span {
            color: #999;
        }
    }
}